//Public
$light-color: #fff;
$dark-color: #000;
$default-color: #2b9ff6;
$default-background-color: #ecedf0;
//Buttons
$add-button-bg-color: #55a32a;
$add-button-color: #fff;
$remove-button-color: #fff;
$remove-button-bg-color: #FF2B2B;
$submit-button-bg-color: #55a32a;
$submit-button-color: #fff;
//Icons
$add-icon-color: #55a32a;
//Font
$base-font-family: 'Vazir';
$small-font-size: 13px;
$default-font-size: 14px;
$medium-font-size: 16px;
$large-font-size: 18px;

//Navbar
$navbar-notification-background-color: #ff7800;
//Sidebar
$sidebar-overlay-background-color: rgba(0,0,0,0.5);
$sidebar-list-background-color: #222c3c;
$tab-label-background-color: #222c3c;
$tab-label-color: #b7c0cd;
$tab-label-border-bottom: #313c50;
$tab-content-background-color: #1d2531;
$tab-content-color: #b7c0cd;
$tab-content-list-border-color: #293242;
$tab-content-link-color: #b7c0cd;
$sidebar-active-item-box-shadow: #00a8ff;
$tab-checked-label-background-color: #1d2531;
$tab-checked-label-border-color: #293242;
$mb-dash-version-color: #bbb;
$mb-dash-border-color: #313c50;
$mb-dash-background-color: #222c3c;
$mb-dash-sm-background-color: $default-color;
$mb-dash-sm-border-color: $default-color;